
/**
 * General
 */
html {
    font-family: 'Open Sans',sans-serif;
}
button,
textarea,
input,
select {
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
}
dl,
multicol,
p {
    line-height: 1.6;
}
iframe,
img {
    max-width: 100%;
}
img {
    height: auto;
    vertical-align: middle;
}
legend {
    text-transform: uppercase;
}
td,
th {
    border: 1px solid #AAAAAA;
}
td a,
th a {
    text-decoration: none;
}
td ol,
th ol,
td ul,
th ul {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
th {
    background-color: #CCC;
}

/**
 * Ngarang
 */
fieldset + fieldset,
fieldset ~ table,
form + form {
    margin-top: 1em;
}
input[type="submit"] {
    margin-right: 1em;
}
