@media only screen and (max-width:640px) {

    /**
     * section
     * grid
     */
    .section {
        width: 100%;
    }
    .section .grid {
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
    }
    .grid .grid {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

} /* end @media */
