@media print {

/**
 * section
 * grid
 */
.section {
    width: 100%;
}
.section .grid {
    margin-left: 1%;
    margin-right: 1%;
    width: 98.0%;
}
.grid .grid {
    width: 100%;
}

html {
    font-size: .75em;
}

} /* end @media */
