@media only screen and (min-width:981px) {

    /**
     * section
     * grid
     */
    .section {
        width: 960px;
    }
    .section .grid {
        margin-left: 10px;
        margin-right: 10px;
        width: 940px;
    }
    .grid .grid {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

} /* end @media */
