@media only screen and (max-width:768px) {

/**
 * section
 * grid
 */
.section {
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
}
.section .grid {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}
.grid .grid {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

} /* end @media */
