@media only screen and (min-width:769px) and (max-width:1024px) {

/**
 * section
 * grid
 */
.section {
    width: 720px;
}
.section .grid {
    width: 700px;
}
.grid .grid {
    width: 100%;
}

/**
 * drupal
 */
/* modules/system/system.admin.css */
.system-themes-list-disabled .theme-selector:nth-child(2n) {
    margin-right: 10px;
    padding-left: 40px;
}
.system-themes-list-disabled .theme-selector:nth-child(2n+1) {
    margin-left: 10px;
    padding-right: 40px;
}

/**
 * Ngarang
 */
/* content */
.one-sidebar div#content.grid,
.two-sidebars div#content.grid {
    width: 460px;
}
.sidebar-first div#content.grid,
.two-sidebars div#content.grid {
    left: 240px;
}
/* sidebar */
.one-sidebar div.sidebar.grid,
.two-sidebars div#sidebar-first.grid {
    width: 220px;
}
.two-sidebars div#sidebar-first.grid,
.sidebar-first div.sidebar.grid {
    left: -480px;
}

} /* end @media */
