@media only screen and (min-width:601px) and (max-width:768px) {

/**
 * section
 * grid
 */
.section {
    width: 560px;
}
.section .grid {
    width: 540px;
}
.grid .grid {
    width: 100%;
}

/**
 * drupal
 */
/* modules/system/system.admin.css */
.system-themes-list-disabled .theme-selector {
    padding-left: 120px;
    padding-right: 120px;
}

/**
 * Ngarang
 */
/* content */
.two-sidebars div.sidebar.grid {
    width: 260px;
}

} /* end @media */
